
body
{
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

#tower hr
{
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.graphics,
#content
{
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

#tower .opener,
article
{
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

/* NOTE: the animation for the expanding nav is in the mode-project.css file */
