
#tower hr
{
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.graphics,
#content,
article
{
    transition-property: opacity;
    transition-duration: 0.15s;
    transition-timing-function: linear;
}

/* open/closing of the nav tower */
nav#projects
{
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
}
