
header
{
    position: relative; /* for the tick-mark accents */
    direction: rtl; /* make everything referenced from the righthand side */
}

header:after,
header:before
{
    content:"";
    position: absolute;
    background: white;
    width:1px;
    height:4px;
    top:1px;
}

header:after { right:-1px; }
header:before { left:-1px; }

header > *
{
    direction: ltr;
}

header a
{
    color:@FONT_COLOR;
}

nav#main,
#tower h1
{
    /* accounts for 1px top border */
    height:49px;
    line-height:49px;
}

nav#main
{
    position:absolute;
    top:0px;
    right:25px;


    a               { padding:0px 15px; }
    a:first-of-type { padding-left:0px !important; }
    a:last-of-type  { padding-right:0px !important; }

    a:before
    {
        padding-right:0.5em;
        content:"▶";
        color:@HIGHLIGHT;
        font-weight: normal;
        font-size: 9px;
    }
}


nav#projects
{
    margin-top: 50px;
    height:250px; /* EDIT THIS when adding/removing projects */
    overflow: hidden;
    opacity: 0; /* initially */


    a
    {
        display:block;
        padding-bottom: 10px;
    }

    a:hover:before
    {
        content:"•";
        color:@HIGHLIGHT;
        position: absolute;
        left:-1em;
    }
}


#tower
{
    position: relative;
    width:150px;


    hr
    {
        position: absolute;
        opacity: 0; /* initially */
    }

    /* pre-animation <hr> positions */
    hr.top    { top:-15px; }
    hr.bottom { bottom:-15px; }

    .opener
    {
        position: absolute;
        height:25px;
        line-height: 25px;
        width:100%;
        padding-left:1em;
        cursor: pointer;
    }

    .opener a
    {
        display:block;
    }

    .opener a:before
    {
        content:"▲";
        color:@HIGHLIGHT;
        padding-right: 0.5em;
        font-size: 9px;
    }

    .opener:before,
    .opener:after
    {
        content: "";
        position: absolute;
        width: 1px;
        height: 1px;
        background: white;
        bottom: 0px;
    }

    .opener:before { left:0px; }
    .opener:after { right:0px; }
}


/*
    Use the .closed class to close the project list
*/

#tower.closed nav#projects
{
    height:0px;
    margin-top:0px;
}

#tower.closed .opener a:before
{
    content:"▼";
}
