
header
{
    direction: rtl; /* make everything referenced from the righthand side */
}

header > *
{
    direction: ltr;
}

nav#main,
#name-projects h1
{
    /* accounts for 1px top border */
    height:49px;
    line-height:49px;
}

nav#main
{
    position:absolute;
    top:0px;
    right:25px;
}

nav#main a               { padding:0px 15px; }
nav#main a:first-of-type { padding-left:0px !important; }
nav#main a:last-of-type  { padding-right:0px !important; }

nav#main a:before
{
    padding-right:0.5em;
    content:"▶";
    color:rgb(235, 29, 33);
    font-weight: normal;
    font-size: 9px;
}

#name-projects
{
    position: relative;
    width:150px;
}

nav#projects
{
    margin-top: 50px;
    height:250px; /* EDIT THIS when adding/removing projects */
    overflow: hidden !important;
    opacity: 0; /* initially */
}

nav#projects a
{
    display:block;
    padding-bottom: 10px;
}

nav#projects a:hover:before
{
    content:"•";
    color:rgb(235, 29, 33);
    position: absolute;
    left:-1em;
}

#name-projects hr
{
    position: absolute;
    opacity: 0; /* initially */
}

/* pre-animation <hr> positions */
#name-projects hr.top    { top:-15px; }
#name-projects hr.bottom { bottom:-15px; }

#name-projects .opener
{
    position: absolute;
    height:25px;
    line-height: 25px;
    width:100%;
    padding-left:1em;
    cursor: pointer;

    opacity:0; /* initially */
}

#name-projects .opener a
{
    display:block;
}

#name-projects .opener a:before
{
    content:"▲";
    color:rgb(235, 29, 33);
    padding-right: 0.5em;
    font-size: 9px;
}

#name-projects .opener:before,
#name-projects .opener:after
{
    content: "";
    position: absolute;
    width: 1px;
    height: 1px;
    background: white;
    bottom: 0px;
}

#name-projects .opener:before { left:0px; }
#name-projects .opener:after { right:0px; }

/*
    Use the .closed class to close the project list
*/

#name-projects.closed nav#projects
{
    height:0px;
    margin-top:0px;
}

#name-projects.closed .opener a:before
{
    content:"▼";
}
