/*
    use the class

    .mode-home

    to access these layouts
*/

body.mode-home #bg
{
    opacity: 1;
    display: initial;
}

body.mode-home #content
{
    width:100%;
    /*margin-top: 150px;*/ /* computed in JS to align with grid */
}

body.mode-home header
{
    width:50%;
}

body.mode-home #tower
{
    margin-right:450px;
    margin-bottom: 0px;
}

body.mode-home #tower .opener
{
    display:none;
}

body.mode-home article
{
    display: none;
    /*opacity: 0;*/
}
