/*
    use the class

    .mode-home

    to access these layouts
*/

body.mode-home #bg
{
    opacity: 1;
}

body.mode-home #content
{
    width:100%;
    /*margin-top: 150px;*/ /* computed in JS to align with grid */
}

body.mode-home header
{
    width:50%;
}

body.mode-home #tower
{
    margin-right:450px;
    margin-bottom: 0px;
}

body.mode-home #tower .opener
{
    display:none;
}

body.mode-home article
{
    display: none;
    opacity: 0;
}

/* squeeze the main nav together when space gets tighter */
@media all and (max-width: 1225px) {
    body.mode-home #tower
    {
        margin-right:350px;
    }

    body.mode-home nav#main a
    {
        padding:0px 4px;
    }
}

@media all and (max-width: 1025px) {
    body.mode-home header { width:calc(50% + 100px); }
    body.mode-home #bg { opacity: 0.4; }
}


@media all and (max-width: 768px) {
    body.mode-home #tower
    {
        margin-right:200px;
    }

    body.mode-home nav#main
    {
        right:0px;
        margin-top: 18px;
        width:150px;
    }

    body.mode-home nav#main a
    {
        display:block;
        line-height: normal;
        padding:0px 0px 10px 0px;
    }
}
