/*
    use the class

    .mode-project

    to access these layouts
*/

#content.mode-project
{
    width:1000px;
}

#content.mode-project header
{
    width:100%;
}

#content.mode-project #tower
{
    margin-right:750px;
}


@media all and (max-width: 1100px) {
    #content.mode-project
    {
        width:800px;
    }

    #content.mode-project #tower
    {
        margin-right: 550px;
    }
}

@media all and (max-width: 900px) {
    #content.mode-project
    {
        width:600px;
    }

    #content.mode-project #tower
    {
        margin-right: 400px;
    }

    #content.mode-project nav#main
    {
        right:50px;
    }

    #content.mode-project nav#main a
    {
        padding:0px 8px;
    }

    #content.mode-project article section h2,
    #content.mode-project article section h3
    {
        left:25px;
    }
}
