/*
    use the class

    .mode-project

    to access these layouts
*/

body.mode-project #bg
{
    opacity: 0;
}

body.mode-project #content
{
    width:1000px;
    margin-top: 50px !important; /* important to override the JS computed mode-home value */
}

body.mode-project header
{
    width:100%;
}

body.mode-project #tower
{
    margin-right:750px;
    margin-bottom: 150px;
}

body.mode-project #tower .opener
{
    display:block;
}

body.mode-project article
{
    display:block;
    opacity: 1;
}
