
@font-face {
    font-family: 'square721_btroman';
    src: url('assets/fonts/tt0246m.eot');
    src: url('assets/fonts/tt0246m.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/tt0246m.woff2') format('woff2'),
         url('assets/fonts/tt0246m.woff') format('woff'),
         url('assets/fonts/tt0246m.ttf') format('truetype'),
         url('assets/fonts/tt0246m.svg#square721_btroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    /* set everything to border-box */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
    min-height: 100%;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;

    /* prevents pseudo elements from disappearing during animations */
    overflow:visible !important;
}

body
{
    position: absolute; /* triggers background images to span the entire document */
    background-color: @BACKGROUND;
    width:100%;
    min-height:100%;

    /*color:rgba(255, 255, 255, 0.35);*/
    color: #505a64;
    font-size: 10px;
    font-family: "square721_btroman", mono, sans-serif;
    /*letter-spacing: 0.06em;*/ /* TODO: looks good on everything except linux :( */
    font-weight: bold;
    line-height: 150%;
}

#content
{
    margin-left: auto;
    margin-right: auto;
}

body.fadeout #content { opacity: 0 !important; }
body.fadeout #bg      { opacity: 0 !important; }

.fl { float: left; }
.fr { float: right; }

/*
    Backgrounds
*/

.graphics
{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#grid
{
    background-image:url(data:image/png;base64,{{> grid.png.b64}});
    background-position: center top;
    background-repeat: repeat;
    opacity: 0.2;
    z-index: -1;
}

#bg
{
    background-image:url(/assets/laser.jpg);
    background-position: center center;
    background-attachment: fixed; /* if the doc extends below the screen, DON'T expand */
    background-size: cover;
    z-index: -2;
}

/*
    Accents
*/

.border-top    { border-top:   1px solid rgba(163, 226, 243, 0.33); }
.border-bottom { border-bottom:1px solid rgba(163, 226, 243, 0.33); }
.border-left   { border-left:  1px solid rgba(163, 226, 243, 0.33); }
.border-right  { border-right: 1px solid rgba(163, 226, 243, 0.33); }

.tick-right,
.tick-left
{
    position: relative;
}

.tick-right:after,
.tick-left:before
{
    content:"";
    position: absolute;
    background: white;
    width:1px;
    height:4px;
    top:1px;
}

.tick-right:after { right:-1px; }
.tick-left:before { left:-1px; }


hr
{
    width:100%;
    margin:0px;
    height:1px;
    border:none;
    border-bottom:1px solid rgb(128, 128, 128);
}

hr:before,
hr:after
{
    content: "";
    background-color:white;
    position: absolute;
    width:1px;
    height:1px;
    top:0px;
}

hr:before { left:-1px; }
hr:after { right:-1px; }


/*
    Type
*/

a
{
    color: #505a64;
    text-decoration: none;
    outline: none;
}

a:hover,
a.active
{
    color: #a3e2f3;
    cursor: pointer;
}

/* Paragraphs */
p a { text-decoration: underline; }

/* Headings */
h1, h2, h3, h4, h5, h6
{
    text-transform: uppercase;
    color:white;
    font-size: 12px;
    line-height: 12px;
    word-spacing: 0.5em;
    font-weight: bold;
}

/* H2 and H3 are the same, expect for the color */

h2, h3
{
    /* create half a column of black space on either side */
    background: @BACKGROUND;
    padding: 0px 25px;
}

h2:before,
h3:before
{
    content:"";
    border-left:1px dotted white;
    padding-left: 10px;
}

h2
{
    color:@HIGHLIGHT;
}


h4 { font-size: 10px; text-transform: none; }

/* Heading Links */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a { color:inherit; }
