
html {
    /* set everything to border-box */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
    min-height: 100%;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;

    /* prevents pseudo elements from disappearing during animations */
    overflow:visible !important;
}

.fl { float: left; }
.fr { float: right; }


body
{
    position: absolute; /* triggers background images to span the entire document */
    background-color: #050505;
    width:100%;
    min-height: 100%;
}

#content
{
    margin-left: auto;
    margin-right: auto;
}

/*
    Backgrounds
*/

.graphics
{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#grid
{
    background-image:url(/assets/grid.png); /* TODO: put this in the repo when finished */
    background-position: center top;
    background-repeat: repeat;
    opacity: 0.06;
    z-index: -1;
}

#bg
{
    background-image:url(/assets/laser.jpg);
    background-position: center center;
    background-attachment: fixed; /* if the doc extends below the screen, DON'T expand */
    background-size: cover;
    z-index: -2;
}

/*
    Accents
*/

.border-top    { border-top:   1px solid rgba(163, 226, 243, 0.33); }
.border-bottom { border-bottom:1px solid rgba(163, 226, 243, 0.33); }
.border-left   { border-left:  1px solid rgba(163, 226, 243, 0.33); }
.border-right  { border-right: 1px solid rgba(163, 226, 243, 0.33); }

.tick-right,
.tick-left
{
    position: relative;
}

.tick-right:after,
.tick-left:before
{
    content:"";
    position: absolute;
    background: white;
    width:1px;
    height:4px;
    top:1px;
}

.tick-right:after { right:-1px; }
.tick-left:before { left:-1px; }


hr
{
    width:100%;
    margin:0px;
    height:1px;
    border:none;
    border-bottom:1px solid rgb(128, 128, 128);
}

hr:before
{
    content: "";
    background-color:white;
    position: absolute;
    top:0px;
    left:-1px;
    width:1px;
    height:1px;
}

hr:after
{
    content: "";
    background-color:white;
    position: absolute;
    top:0px;
    right:-1px;
    width:1px;
    height:1px;
}
