
@BACKGROUND:       rgba(5,   5,   12,  1.0);
@BACKGROUND_CODE:  rgba(23,  46,  77,  0.25);
@HIGHLIGHT:        rgba(235, 29,  33,  1.0);

@FONT_COLOR:       rgba(204, 230, 255, 0.4);
@FONT_COLOR_LIGHT: rgba(107, 140, 149, 1.0);
@FONT_COLOR_LINK:  rgba(163, 226, 243, 1.0);

@FONT:             "square721", mono, sans-serif;
@FONT_CODE:        "bitstream", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; /* prism default */
@FONT_CODE_COLOR:  #CCC;

@FONT_SIZE:        10px;
