<!doctype html>
<html>
	<head>
		<meta charset='utf-8'/>
		<meta name="author" content="{{ author }}">
		<meta name="description" content="{{ description }}">
		<meta name="keywords" content="portfolio, developer, programmer, programming, creative, interactive">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Brendan Whitfield | Programmer &amp; Interactive Developer</title>
		<link rel="shortcut icon"    type="image/png" href="/assets/favicon-32.png"/>
		<link rel="apple-touch-icon" type="image/png" href="/assets/favicon-120.png"/>
		<script type="text/javascript">{{> bundle.js}}</script>
		<style>{{> style.css}}</style>
	</head>
	<body class="mode-home fadeout"> <!-- the initial layout, hidden -->
		<div class="graphics" id="bg"></div>
		<div class="graphics" id="grid"></div>
		<div id="content">
			<header class="border-top">
				<nav id="main">
					<a href="/about">About</a>
					<a href="https://github.com/brendan-w">GitHub</a>
					<a href="/brendan_whitfield_resume.pdf">Résumé</a>
					<a href="mailto:bcw7044@rit.edu">bcw7044@rit.edu</a>
				</nav>
				<div id="tower">
					<hr class="top"> <!-- ================ -->
					<h1><a href="/" id="name">
						<span class="fl">Brendan</span>
						<span class="fr">Whitfield</span>
					</a></h1>
					<nav id="projects">
						<a href="/lasers">Laser Projection</a>
						<a href="/python-obd">Python OBD-II Module</a>
						<a href="/pihud">PiHUD</a>
						<a href="/cgraph">C-Graph</a>
						<a href="/collector">Collector</a>
						<a href="/executejs">Execute JS</a>
						<a href="/pipe-organs">Pipe Organs</a>
						<a href="/openscope">Open Scope</a>
						<a href="/binvis">Binary Visualization</a>
						<a href="/lumber">Lumber Segmenter</a>
					</nav>
					<div class="opener">
						<a href="#">projects</a>
					</div>
					<hr class="bottom"> <!-- ================ -->
				</div>
			</header>
			<article></article> <!-- content goes here -->
		</div>
		<noscript>
			<style>{{> noscript.css}}</style>
			<div id="noscript-outer"><div id="noscript-inner">
				<div id="noscript" class="border-top border-bottom">
					<h1>This site looks a lot better with JavaScript</h1><br>
					<p>All of the JavaScript here is Open Source, and can be reviewed on <a href="{{{ homepage }}}">GitHub</a></p>
					<p>I promise I'm not doing anything fishy (not even analytics).</p>
				</div>
			</div></div>
		</noscript>
	</body>
</html>
